.blog_2{
    color: blue;
    font-size: 56px;
}
.blog_3{
    display: flex;
    gap: 16rem;
    margin-top: 5rem;
}
#blog_1{
    margin-left: 2rem;
}
.blog_3 p{
    font-size: x-large;
}
.blog_6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32rem;
    margin-left: 163px;
    padding-top: 61px;
  
}
.blog_7 a{
    text-decoration: none;
    color: red;
}
.blog_7 li{
    list-style: none;
  
}
#blog_4{
    text-align: center;

}
.blog_8{
    margin-top: 5rem;
}
.blog_9{
    font-size: x-large;
}
.blog_10{
    margin-left: 10rem;
}
.blog_11{
    margin-left: 6rem;
}
