.blog_2{
    color: blue;
    font-size: 56px;
}
.blog_3{
    display: flex;
    gap: 16rem;
    margin-top: 5rem;
}
#blog_1{
    margin-left: 2rem;
}
.blog_3 p{
    font-size: x-large;
}
.blog_6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32rem;
    margin-left: 163px;
    padding-top: 61px;
  
}
.blog_7 a{
    text-decoration: none;
    color: red;
}
.blog_7 li{
    list-style: none;
  
}
#blog_4{
    text-align: center;

}
.blog_8{
    margin-top: 5rem;
}
.blog_9{
    font-size: x-large;
}
.blog_10{
    margin-left: 10rem;
}
.blog_11{
    margin-left: 6rem;
}
#hidden-list1 li a{
    text-decoration: none;
}


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jj img {
    width: 100px; /* Adjust the size according to your needs */


/* .menu {
    display: flex;
    align-items: center;
}

.menu-inner {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.menu-link:hover {
    color: #ffcc00; /* Change the color on hover */
}
/* 
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu.show {
        display: flex;
    }

    .menu-item {
        margin: 10px 0;
    }
} */



 
